.emoji-picker {
  margin: 0 0.5em;
  border: 1px solid #999999;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px #CCCCCC;
  background: #FFFFFF;
  width: 20.5rem;
  height: 27.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.emoji-picker__content {
  padding: 0.5em;
  height: 20.5rem;
}

.emoji-picker__preview {
  height: 2em;
  padding: 0.5em;
  border-top: 1px solid #999999;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.emoji-picker__preview-emoji {
  font-size: 2em;
  margin-right: 0.25em;
  font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "EmojiOne Color", "Android Emoji";
}

.emoji-picker__preview-name {
  color: #666666;
  font-size: 0.85em;
  overflow-wrap: break-word;
  word-break: break-all;
}

.emoji-picker__tabs {
  margin: 0;
  padding: 0;
  display: flex;
}

.emoji-picker__tab {
  list-style: none;
  display: inline-block;
  padding: 0 0.5em;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
}

.emoji-picker__tab.active {
  border-bottom: 3px solid #4F81E5;
  color: #4F81E5;
}

.emoji-picker__tab-body {
  display: none;
  margin-top: 0.5em;
}

.emoji-picker__tab-body h2 {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}

.emoji-picker__tab-body.active {
  display: block;
}

.emoji-picker__emojis {
  height: 17.5rem;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: calc(1.3rem * 1.5 * 10);
  margin: auto;
}

.emoji-picker__emojis.search-results {
  height: 21rem;
}

.emoji-picker__emoji {
  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "EmojiOne Color", "Android Emoji";
}

.emoji-picker__emoji:hover {
  background: #E8F4F9;
}

.emoji-picker__search-container {
  margin: 0.5em;
  position: relative;
  height: 2em;
  display: flex;
}

.emoji-picker__search-container input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  padding-right: 2em;
}

.emoji-picker__search-icon {
  position: absolute;
  color: #CCCCCC;
  width: 1em;
  height: 1em;
  right: 0.75em;
  top: calc(50% - 0.5em);
}

.emoji-picker__search-not-found {
  color: #666666;
  text-align: center;
  margin-top: 2em;
}

.emoji-picker__search-not-found-icon {
  font-size: 3em;
}

.emoji-picker__search-not-found h2 {
  margin: 0.5em 0;
  font-size: 1em;
}

.emoji-picker__variant-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 20.5rem;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emoji-picker__variant-popup {
  background: #FFFFFF;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
}

.emoji-picker__variant-popup-close-button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  right: 1em;
  padding: 0;
  top: calc(50% - 0.5em);
  height: 1em;
  width: 1em;
}