.api h2, .api h3 {
  margin-top: 1.5rem;
}

.api table {
  border-collapse: collapse;
}

.api table tr td, .api table tr th {
  vertical-align: top;
  padding: 0.5rem;
  text-align: left;
}

.api table tr:nth-child(even) {
  background: #eeeeee;
}