@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #33789C;
}

#emoji-button {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  background: #EEEEEE;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  border: none;
  background: #DDDDDD;
  position: relative;
  left: -3.5rem;
  top: 1px;
  display: inline-flex;
  align-items: center;
  font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "EmojiOne Color", "Android Emoji";
}

#emoji-input {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  height: 1rem;
  padding-right: 2rem;
  outline: none;
  width: 20rem;
  margin: 1rem;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

#emoji-header {
  font-size: 10rem;
}

h1 {
  margin: 0;
  font-family: 'Acme', sans-serif;
  text-align: center;
}

header {
  background: url('circle-blues.png');
  color: #FFFFFF;
  padding: 1rem;
  text-align: center;
}

header h1 {
  font-size: 3rem;
}

header a {
  color: #FFFFFF;
}

section {
  padding: 1rem;
  text-align: center;
}

pre {
  text-align: left;
  font-size: 1.2rem;
}

pre code.hljs {
  border-radius: 3px;
}

hr {
  border-color: rgba(255, 255, 255, 0.2);
}

#installation {
  background: #33789C;
  padding-top: 2rem;
}

#installation .code {
  display: inline-block;
}

#demo {
  background: #33789C;
}

#usage {
  background: #33789C;
}