<div class="<%= classes.emojiCategory %>">
  <h3 data-category="<%= category %>" class="<%= classes.categoryName %>">
    <%= i18n.get(`categories.${category}`) %>
  </h3>
  <div data-placeholder="emojis"></div>
</div>