<div>
  <div data-view="categoryButtons"></div>
  <div class="<%= classes.emojis %>">
    <% categories.forEach(category => { %>
      <div data-view="emojis-<%= category.key %>"></div>
    <% }) %>
  </div>
</div>
