<div>
  <div data-placeholder="categoryButtons"></div>
  <div class="<%= classes.emojis %>">
    <% categories.forEach(category => { %>
      <div data-placeholder="emojis-<%= category %>"></div>
    <% }) %>
  </div>
</div>
