<div class="<%= classes.wrapper %>">
  <div class="<%= classes.picker %>">
    <% if (plugins) { %>
      <div data-placeholder="plugins"></div>
    <% } %>
    <div data-placeholder="search"></div>
    <div class="<%= classes.content %>">
      <div data-placeholder="emojiArea"></div>
    </div>
  </div>
</div>