<% if (emojis.length) { %>
  <div class="<%= classes.emojiContainer %>">
    <% emojis.forEach(emoji => { %>
      <div data-placeholder="emojis"></div>
    <% }) %>
  </div>
<% } else { %>
  <div class="<%= classes.emojiContainer %> <%= classes.noRecents %>">
    <%= i18n.get('recents.none') %>
  </div>
<% } %>
