body {
  font-family: sans-serif;
}

#selection {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#selection-outer {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 0.5rem;
  width: 360px;
  margin-top: 2rem;
  transition: opacity 200ms;
}

#selection-outer.empty {
  opacity: 0;
}

h2 {
  margin: 0;
  /* margin-bottom: 1rem; */
  font-size: 1rem;
  text-align: center;
}

#selection-emoji {
  font-family: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI',
    'Apple Color Emoji', 'Twemoji Mozilla', 'Noto Color Emoji', 'EmojiOne Color',
    'Android Emoji';
  font-size: 3rem;
  margin-right: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 1px solid #999;
  background: #fff;
}

#trigger {
  font-size: 2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}