@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

:root {
  --brand-color: #06446c;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: Lobster, cursive;
  color: var(--brand-color);
  margin: 0;
}

code {
  font-family: Menlo, 'Courier New' ,Courier, monospace;
}
