<div class="<%= classes.searchError %>">
  <div class="<%= classes.icon %>">
      <i class="fa-solid fa-triangle-exclamation fa-fw fa-5x"></i>
  </div>
  <div class="<%= classes.message %>"><%= i18n.get('search.error') %>
</div>
