<div class="<%= classes.searchNotFound %>">
  <div class="<%= classes.searchNotFoundIcon %>">
    <div data-placeholder="icon"></div>
  </div>
  <div class="<%= classes.searchNotFoundMessage %>"><%= i18n.notFound %>
</div>
