<div class="<%= classes.searchNotFound %>">
  <div class="<%= classes.searchNotFoundIcon %>">
    <span class="fa-layers fa-fw fa-4x" style="background:MistyRose">
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-xmark" data-fa-transform="shrink-6"></i>
    </span>
  </div>
  <div class="<%= classes.searchNotFoundMessage %>"><%= i18n.get('search.notFound') %>
</div>
