<div class="<%= classes.searchNotFound %>">
  <div class="<%= classes.searchNotFoundIcon %>">
    <span class="fa-layers fa-fw fa-5x">
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-xmark" data-fa-transform="shrink-10 up-1.5 left-1.5"></i>
    </span>
  </div>
  <div class="<%= classes.searchNotFoundMessage %>"><%= i18n.get('search.notFound') %>
</div>
