.emoji {
  font-size: 1em;
  line-height: 1em;
}

.emojiList {
  background: rgba(255, 255, 255, 0.25);
  padding: 16px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1em);
  grid-auto-rows: 1em;
  gap: 24px;
  justify-self: center;
  font-size: clamp(1rem, 5vw, 6rem);
  align-self: center;
}

@media screen and (max-width: 1000px) {
  .emojiList {
    grid-template-columns: repeat(4, 1em);
  }
}