@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #33789C;
  color: #FFFFFF;
}

#emoji-button {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  background: #EEEEEE;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  border: none;
  background: #DDDDDD;
  position: relative;
  left: -3.5rem;
  top: 1px;
  display: inline-flex;
  align-items: center;
  font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "EmojiOne Color", "Android Emoji";
}

#emoji-input {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  height: 1rem;
  padding-right: 2rem;
  outline: none;
  width: 20rem;
  margin: 1rem;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

#emoji-header {
  font-size: 10rem;
}

h1, h2 {
  margin: 0;
  font-family: 'Acme', sans-serif;
  text-align: center;
  color: #FFFFFF;
}

header {
  background: url('circle-blues.png');
  color: #FFFFFF;
  padding: 1rem;
  text-align: center;
}

header p {
  text-align: center;
}

header h1 {
  font-size: 3rem;
}

header a {
  color: #FFFFFF;
}

section {
  padding: 1rem;
  text-align: center;
}

pre {
  text-align: left;
  font-size: 1.2rem;
}

pre code.hljs {
  border-radius: 3px;
}

hr {
  border-color: rgba(255, 255, 255, 0.2);
}

#installation {
  background: #33789C;
  padding-top: 2rem;
}

#installation .code {
  display: inline-block;
}

#demo {
  background: #33789C;
}

#usage {
  background: #33789C;
}

.button-link {
  margin: 1rem;
  background: #FFFFFF;
  color: #33789C;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0px 4px 13px 3px #333333;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s;
}

.button-link:hover {
  background: #33789C;
  color: #FFFFFF;
}

p {
  text-align: left;
}

ol li {
  text-align: left;
}

#twemoji-picker, #native-picker {
  display: flex;
  width: 20rem;
  margin: auto;
}

#native-picker {
  margin-bottom: 2rem;
}

#twemoji-button, #native-button {
  font-size: 1rem;
  background: #DDDDDD;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
}

#twemoji-button:focus {
  border: 1px dashed #999999;
}

#emoji-contenteditable, #native-contenteditable {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #FFFFFF;
  width: 10rem;
  margin: auto;
  color: #000000;
  padding: 0.5rem 0.75rem;
  flex-grow: 1;
  line-height: 1rem;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}