.categoryButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 8px;
  padding: 0 8px 4px 8px;
  
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.categoryButton {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: var(--category-button-color);
  cursor: pointer;
  padding: 2px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--category-button-size);
  width: var(--category-button-width);
  height: var(--category-button-height);
  transition: all 250ms;

  &:hover {
    color: var(--category-button-highlight-color);
  }

  img {
    width: var(--category-button-size);
    height: var(--category-button-size);
  }
}

.categoryButtonActive {
  color: var(--category-button-active-color);
  border-color: var(--category-button-active-color);
  position: relative;

  &:hover {
    color: var(--category-button-active-color);
  }
}

.activeIndicator {
  position: absolute;
  content: '';
  bottom: -1px;
  left: -0.5px;
  font-size: var(--category-button-size);
  width: var(--category-button-width);
  height: 4px;
  background: var(--category-button-active-color);
}
