.categoryButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0 0.5em;
  align-items: center;
  height: var(--category-tabs-height);
  box-sizing: border-box;
  
  border-bottom: 1px solid var(--border-color);
  position: relative;

  list-style-type: none;
}

.categoryButton {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: var(--category-button-color);
  cursor: pointer;
  padding: 2px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--category-button-size);
  width: var(--category-button-width);
  height: var(--category-button-height);
  transition: all 250ms;

  &:hover {
    color: var(--category-button-highlight-color);
  }

  img {
    width: var(--category-button-size);
    height: var(--category-button-size);
  }
}

.categoryTab {
  border-bottom: 4px solid transparent;
  margin-bottom: 4px;
  display: flex;
  align-items: center;

  &.active {
    border-bottom-color: var(--category-button-active-color);
  }
}

.categoryButtonActive {
  color: var(--category-button-active-color);
  border-color: var(--category-button-active-color);
  position: relative;

  &:hover {
    color: var(--category-button-active-color);
  }
}
