.emojis {
  height: calc(
    (var(--row-count) * var(--emoji-size) * var(--emoji-size-multiplier)) +
    (var(--category-name-size) + (var(--category-name-padding-y) * 2)) + var(--content-margin)
  );
  overflow-y: auto;
  position: relative;
}
