.preview {
  border-top: 1px solid var(--border-color);
  display: grid;
  align-items: center;
  gap: 6px;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "emoji name"
                       "emoji tags";
  height: var(--emoji-preview-size);
  padding: 0.5em;
  position: relative;
  margin-top: 4px;

  &::before {
    width: 75px;
    height: 100%;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background-image: linear-gradient(
                        270deg, 
                        var(--fade-gradient-start) 40%, 
                        var(--fade-gradient-end) 100%
    );
  }

  &::after {
    width: 100%;
    height: 10px;
    content: '';
    position: absolute;
    left: 0;
    top: -15px;
    background-image: linear-gradient(0deg, var(--fade-gradient-start) 30%, var(--fade-gradient-end) 100%);
  }
}

.previewEmoji {
  grid-area: emoji;
  font-size: var(--emoji-preview-size);
  font-family: var(--emoji-font);
  width: 1em;
  height: 1em;
}

.previewName {
  grid-area: name;
  color: var(--text-color);
  font-size: 0.8em;
  overflow-wrap: break-word;
  word-break: break-all;
}

.tagList {
  grid-area: tags;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  font-size: 0.75em;
  overflow: hidden;
}

.tag {
  border-radius: 3px;
  background: var(--tag-background);
  color: var(--text-color);
  padding: 2px 8px;
  margin-right: 0.25em;
  white-space: nowrap;

  &:last-child {
    margin-right: 0;
  }
}
