.searchContainer {
  display: flex;
  height: var(--search-height);
  box-sizing: border-box;
  padding: 0 8px;
  position: relative;
}

.searchField {
  background: var(--search-background-color);
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
  color: var(--text-color);
  font-size: 0.9em;
  outline: none;
  padding-right: 2em;
  padding: 0.5em 2.25em 0.5em 0.5em;
  width: 100%;

  &:focus {
    background: var(--search-focus-background-color);
  }

  &::placeholder {
    color: var(--search-placeholder-color);  
  }
}

.clearButton {
  border: 0;
  color: var(--search-icon-color);
  background: transparent;
  cursor: pointer;
}

.searchAccessory {
  color: var(--search-icon-color);
  height: 100%;
  position: absolute;
  right: 1em;
  top: 0;
  width: 1.25rem;
  display: flex;
  align-items: center;

  svg {
    fill: var(--search-icon-color);
  }
}

.clearSearchButton {
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--search-icon-color);
  font-size: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
}

.notFound {
  [data-icon] {
    fill: #f3e265;
  }
}