.icon {
  width: 1.25em;
  height: 1em;
  fill: currentColor;
}

.icon-small {
  font-size: 0.8em;
}

.icon-medium {
  font-size: 1em;
}

.icon-large {
  font-size: 1.25em;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

.icon-8x {
  font-size: 8em;
}

.icon-10x {
  font-size: 10em;
}
