@import 'icons.css';
@import 'themes.css';
@import '../views/CategoryTabs.css';
@import '../views/DataError.css';
@import '../views/ErrorMessage.css';
@import '../views/Emoji.css';
@import '../views/EmojiArea.css';
@import '../views/EmojiCategory.css';
@import '../views/EmojiContainer.css';
@import '../views/EmojiPicker.css';
@import '../views/Preview.css';
@import '../views/Search.css';
@import '../views/VariantPopup.css';
@import '../renderers/custom.css';

@keyframes shine {
  to {
    transform: translateX(100%);
  }
}

.picmo-picker .imagePlaceholder {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.placeholder {
  background: #DDDBDD;
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shine 2s infinite;
    content: '';
  }
}
