/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: title;
 }

 .heroSubtitle {
   grid-area: subtitle;
 }

.heroLogo {
  margin: 0 1rem;
  width: 4rem;
}

.heroRow {
  align-items: center;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.heroGrid {
  display: grid;
  grid-template-areas: "title emoji"
                       "subtitle emoji"
                       "buttons emoji";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

@media screen and (max-width: 1000px) {
  .heroGrid {
    grid-template-areas: "title"
                         "subtitle"
                         "buttons";
    grid-template-columns: 1fr;
  }
  
  .heroEmojis {
    display: none;
  }
}

.buttons {
  grid-area: buttons;
  display: flex;
  align-items: center;
  justify-content: center;
}
