.categoryButtons {
  --tab-size-ratio: 1.55; 
  --tab-padding: 0.5em;
  --tab-area-width: calc(var(--picker-width) - (var(--tab-padding) * 2));
  --tab-size: calc((var(--tab-area-width) / var(--category-count))) / var(--tab-size-ratio);

  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: var(--tab-gap);
  justify-content: center;
  margin: 0;
  padding: 0 var(--tab-padding);
  align-items: center;
  height: var(--category-tabs-height);
  box-sizing: border-box;
  
  position: relative;

  list-style-type: none;
}

.categoryButton {
  border-radius: 5px;
  background: transparent;
  border: 2px solid transparent;
  color: var(--category-tab-color);
  cursor: pointer;
  padding: 2px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-size: min(var(--tab-size), 1.2rem);
  width: 1.6em;
  height: 1.6em;
  transition: all 100ms;

  img {
    width: var(--category-tab-size);
    height: var(--category-tab-size);
  }

  &:hover {
    background: var(--category-tab-highlight-background-color);
  }
}

.categoryTab {
  display: flex;
  align-items: center;
  justify-content: stretch;
  transition: all 100ms;
}

.categoryTabActive {
  .categoryButton {
    color: var(--category-tab-active-color);
    background: 
      linear-gradient(rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%),
      linear-gradient(var(--category-tab-active-color) 0%, var(--category-tab-active-color) 100%);

    border: 2px solid var(--category-tab-active-color);

    &:hover {
      background-color: var(--category-tab-active-background-color);
    }
  }
}

