.emojiCategory {
  position: relative;
}

.categoryName {
  font-size: 0.9em;
  padding: 0.5rem;
  margin: 0;
  background: var(--category-name-background-color);
  color: var(--category-name-text-color);
  // position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  line-height: 1;
  box-sizing: border-box;
  height: var(--category-name-height);
  justify-content: flex-start;
  text-transform: uppercase;

  button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--category-name-button-color);

    &:hover {
      opacity: 1;
    }
  }
}

.noRecents {
  color: var(--secondary-text-color);
  grid-column: 1 / span var(--emojis-per-row);
  font-size: 0.9em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(var(--emoji-size) * var(--emoji-size-multiplier));
}

.recentEmojis[data-empty="true"] {
  display: none;
}

.recentEmojis[data-empty="false"] + div {
  display: none;
}
