.emojis {
  height: var(--emoji-area-height);
  overflow-y: auto;
  position: relative;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background-color);
  scrollbar-width: 8px;

  &::-webkit-scrollbar {
    background: var(--scrollbar-background-color);
    width: 1.1em;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-clip: padding-box;
    height: 1em;
    border-radius: 1em
  }
}
