.emoji {
  background: transparent;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: var(--emoji-font);
  font-size: var(--emoji-size);
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  &:hover {
    background: var(--hover-background-color);
  }

  &:focus {
    border-radius: 0;
    background: var(--focus-indicator-background-color);
    outline: 1px soldi var(--focus-indicator-color);
  }
}
