.emojiContainer {
  display: grid;
  justify-content: space-between;
  gap: 1px;
  padding: 0 0.5em;
  grid-template-columns: repeat(var(--emojis-per-row), calc(var(--emoji-size) * var(--emoji-size-multiplier)));
  grid-auto-rows: calc(var(--emoji-size) * var(--emoji-size-multiplier));
  align-items: center;
  justify-items: center;
}
