.preview {
  border-top: 1px solid var(--border-color);
  display: grid;
  align-items: center;
  gap: 6px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "emoji name"
                       "emoji tags";
  height: var(--emoji-preview-height);
  box-sizing: border-box;
  padding: 0.5em;
  position: relative;
  background: var(--preview-background-color);
}

.previewEmoji {
  grid-area: emoji;
  font-size: var(--emoji-preview-size);
  font-family: var(--emoji-font);
  width: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previewName {
  grid-area: name;
  color: var(--text-color);
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.tagList {
  grid-area: tags;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  font-size: 0.75em;
  overflow: hidden;
}

.tag {
  border-radius: 3px;
  background: var(--tag-background-color);
  color: var(--text-color);
  padding: 2px 8px;
  margin-right: 0.25em;
  white-space: nowrap;

  &:last-child {
    margin-right: 0;
  }
}
