.popupContainer {
  display: flex;
  flex-direction: column;
}

.closeButton {
  position: absolute;
  opacity: 0;
  background: transparent;
  border: none;
  z-index: 1;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 4px;
  align-self: flex-end;
  transform: translate(50%, -50%);
  background: #999999;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:hover {
    background: var(--accent-color);
  }

  svg {
    fill: white;
    width: 1.25rem;
    height: 1.25rem;
  }
}
