.emoji-button {
  font-size: 2rem;
  background: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.index h2 {
  font-size: 2rem;
}

.index section {
  margin: 1rem 0;
}

.demo {
  display: flex;
  flex-direction: column;
}

.demo .code {
  flex-grow: 1;
}

.demo > * {
  margin: 0.5rem 0;
}

.demo button {
  margin: 0.5rem;
}
