.emoji-picker {
  margin: 0 0.5em;
  border: 1px solid #999999;
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 0px 0px 3px 1px #CCCCCC;
}

.emoji-picker__tabs {
  margin: 0;
  padding: 0;
}

.emoji-picker__tab {
  list-style: none;
  display: inline-block;
  padding: 0 0.5em;
  cursor: pointer;
}

.emoji-picker__tab.active {
  border-bottom: 3px solid #4F81E5;
  color: #4F81E5;
}

.emoji-picker__tab-body {
  display: none;

  margin-top: 0.5em;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #333333;
}

.emoji-picker__tab-body.active {
  display: block;
}
