.wrapper {
  --blue-color: #4f81e5;
  --border-radius: 5px;
  --content-height: 22rem;
  --emojis-per-row: 8;
  --row-count: 6;
  --emoji-preview-size: 2.75em;
  --emoji-size: 1.8em;
  --emoji-size-multiplier: 1.5;
  --content-margin: 8px;
  --category-button-height: 1.5em;
  --category-button-width: 1.5em;
  --category-button-size: 1.2rem;
  --category-name-size: 1rem;
  --category-name-padding-y: 6px;
  --search-height: 2em;
  --overlay-background-color: rgba(0, 0, 0, 0.8);
  --emoji-font: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'Apple Color Emoji', 'Twemoji Mozilla',
    'Noto Color Emoji', 'EmojiOne Color', 'Android Emoji';
  --ui-font: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

.picker {
  background: red;
  background: var(--background-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  font-family: var(--ui-font);
  font-size: 16px;
  overflow: hidden;
  position: relative;
  width: calc(var(--emojis-per-row) * var(--emoji-size) * var(--emoji-size-multiplier) + 2.75rem);

  & > * {
    font-family: var(--ui-font);
    box-sizing: content-box;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  position: relative;
  overflow: hidden;
}

.pluginContainer {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
}
