@mixin lightTheme {
  --background-color: #ffffff;
  --border-color: #cccccc;
  --secondary-text-color: #666666;
  --text-color: #000000;
  --hover-shadow-color: rgba(0, 0, 0, 0.2);
  --hover-color: hsla(198, 59%, 94%, 0.85);
  --category-name-shadow: rgba(0, 0, 0, 0.5);
  --category-name-background: #ffffff;
  --category-name-text-color: hsl(214, 30%, 50%);
  --category-name-button-color: #999999;
  --category-name-accent: hsl(214, 30%, 50%);
  --category-button-active-background: rgba(251, 184, 41, 0.2);
  --category-button-active-color: #1580e4;
  --category-button-highlight-color: #000000;
  --category-button-color: #666;
  --focus-indicator-color: #333333;
  --focus-indicator-background: hsl(198, 65%, 85%);
  --image-placeholder-color: #666666;
  --search-background-color: transparent;
  --search-border-color: #cccccc;
  --search-focus-border-color: var(--blue-color);
  --search-icon-color: #aaaaaa;
  --search-placeholder-color: #999999;
  --popup-background-color: #ffffff;
  --fade-gradient-start: rgba(255, 255, 255, 1);
  --fade-gradient-end: rgba(255, 255, 255, 0);
}

@mixin darkTheme {
  --background-color: #333333;
  --border-color: #666666;
  --secondary-text-color: #999999;
  --text-color: #ffffff;
  --hover-shadow-color: rgba(255, 255, 255, 0.2);
  --hover-color: hsla(0, 0%, 40%, 0.85);
  --category-name-shadow: rgba(255, 255, 255, 0.5);
  --category-name-background: #333333;
  --category-name-text-color: #ffffff;
  --category-name-button-color: #eeeeee;
  --category-button-active-background: var(--blue-color);
  --category-button-active-color: #f7fbff;
  --category-button-highlight-color: #ffffff;
  --category-button-color: #999999;
  --focus-indicator-color: #999999;
  --focus-indicator-background: hsl(0, 0%, 50%);
  --image-placeholder-color: #ffffff;
  --search-background-color: #666666;
  --search-border-color: #999999;
  --search-focus-border-color: #dbe5f9;
  --search-icon-color: #cccccc;
  --search-placeholder-color: #999999;
  --popup-background-color: #333333;
  --fade-gradient-start: rgba(51, 51, 51, 1);
  --fade-gradient-end: rgba(51, 51, 51, 0);
}

.lightTheme {
  @include lightTheme;
}

.darkTheme {
  @include darkTheme;
}

.autoTheme {
  @include lightTheme;
}

@media (prefers-color-scheme: dark) {
  .autoTheme {
    @include darkTheme;
  }
}