.footer {
  padding: 1rem;
  background: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer .joe {
  flex-grow: 1;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.footer > * {
  margin: 0.5rem;
}