.install {
  background: var(--brand-color);
  color: #ffffff;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.install h3 {
  font-family: Lobster, cursive;
  font-size: 1.5rem;
}

.install > * {
  margin: 0.5rem;
}

.install code {
  background: #000000;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: Menlo, 'Courier New' ,Courier, monospace;
}